{% macro note_description(key, title, addon_class='') %}
<div class="input-group" id="{{ket}}-box" data-toggle="tooltip" data-placement="top" title="{{title}}">
    <div class="input-group-prepend">
        <span class='input-group-text' for='{{key}}-field'>
            <i class="{{addon_class}}"></i>
        </span>
    </div>
    <input type="text" class="form-control" id="{{key}}-field" disabled>
</div>
{% endmacro %}
{% macro big_note_description(key, title) %}
<div class="input-group" id="{{ket}}-box" data-toggle="tooltip" data-placement="top" title="{{title}}">
    <div class="input-group-prepend">
        <span class='input-group-text' for='{{key}}-field'></span>
    </div>
    <textarea class="form-control" id="{{key}}-field" disabled></textarea>
</div>
{% endmacro %}
<section aria-hidden="true" aria-labelledby="#history-title" class="modal fade" id="historyModal" role="dialog" tabindex="-3">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="history-title">Notes History</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <div class="row justify-content-center">
                            <button id="refresh-history" class="btn btn-primary">Refresh</button>
                        </div>
                        <div class="row">
                            <table class="table" id="history-table">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Written By</th>
                                    <th scope="col">Type</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <div class="btn-group" role="group" aria-label="page group" id="page-group"></div>
                        </div>        
                    </div>
                    <div class="col justify-content-center" id="view-record">
                        <div class="row justify-content-around mb-1 ml-1">
                            <div class="col-5">{{note_description('post-date', 'Posted', 'far fa-clock')}}</div>
                            <div class="col-5">{{note_description('writer', 'Writer', 'fas fa-pen-fancy')}}</div>
                        </div>
                        <div class="row justify-content-around mb-1 ml-1 record-row">
                            <div class="col-5">{{note_description('affect-from', 'Takes Effect from', 'fas fa-calendar')}}</div>
                            <div class="col-5">{{note_description('active', 'Status', 'fas fa-cogs')}}</div>
                        </div>
                        <div class="row justify-content-around m-1 record-row">
                            {{big_note_description('reason', 'Reason')}}
                        </div>
                        <div class="row justify-content-around m-1">
                            {{big_note_description('description', 'Description')}}
                        </div>
                        <div id="edit-note-tools" class="row justify-content-around">
                            <button type="button" id="remove-note-button" class="btn btn-danger">Remove</button>
                            <button type="button" id="edit-note-button" class="btn btn-warning">Edit</button>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
        {# https://getbootstrap.com/docs/4.0/components/modal/ #}
    </div>
</section>