{% macro alerts() %}
<div class="alert if-success d-none alert alert-success">
    <span>Success, You changed the value</span>
</div>
<div class="if-error d-none list-group-flush" role='alert'></div>
{% endmacro %}
{% macro modal_header(modal_name, label) %}
<div class="modal-header">
    <h5 class="modal-title" id="{{modal_name}}-title" style="text-transform: capitalize !important;">{{label}}</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endmacro %}
{% macro simple_preference_modal(index, modal_name, action, field, input, value) %}
<div aria-hidden="true" aria-labelledby="#{{modal_name}}-title" class="modal" id="{{modal_name}}" role="dialog" tabindex="-{{index}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{modal_header(modal_name, input.label)}}
            <div class="modal-body">
                <form action="url_for('place.profile_ajax')" class="setting-form" method="POST" id="{{modal_name}}-form">
                    <div class="text-center justify-content-center form-row" class="row-describer">
                        <span class="font-weight-bold font-size-15 justify-content-center"
                              class="setting-describer" field-related='#{{input.id}}'>{{value}}</span><br>
                    </div>
                    {{field}}
                </form>
                {{alerts()}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary commit-setting" type="button" data-target="#{{modal_name}}">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{{simple_preference_modal(1, 'modal-change-x', form.x(class="form-control-range", value=user.x, min=0, max=1000, type="range"), form.x, user.x)}}
{{simple_preference_modal(2, 'modal-change-y', form.y(class="form-control-range", value=user.y, min=0, max=1000, type="range"), form.y, user.y)}}
{{simple_preference_modal(3, 'modal-change-scale', form.scale(class="form-control-range", value=user.scale, min=1, max=50, type="range"), form.scale, user.scale)}}
{# color #}
<div aria-hidden="true" aria-labelledby="#modal-change-color-title" class="modal" id="modal-change-color" role="dialog" tabindex="-4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{modal_header('modal-change-color', form.color.label)}}
            <div class="modal-body">
                <form action="{{url_for('place.profile_ajax')}}" class="setting-form" method="POST" id="modal-change-color">
                    {{form.color(class="custom-select")}}
                </form>
                {{alerts()}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary commit-setting" type="button" data-target="#modal-change-color">Save changes</button>
            </div>
        </div>
    </div>
</div>
{# url #}
<div aria-hidden="true" aria-labelledby="#modal-change-url-title" class="modal" id="modal-change-url" role="dialog" tabindex="-5">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       {{modal_header('modal-change-url', form.url.label)}}
       <div class="modal-body">
           <form action="{{url_for('place.profile_ajax')}}" class="setting-form" method="POST">
            <div class="input-group">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="delete-url" data-target="#{{form.url.id}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                {{form.url(class="form-control", value=user.url)}}
            </div>
           </form>
           {{alerts()}}
       </div>
       <div class="modal-footer">
           <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
           <button class="btn btn-primary commit-setting" type="button" data-target='#modal-change-url'>Save changes</button>
       </div>
   </div>
</div>
</div>