{% macro checkban(val, id, text) %}
<div class="form-check form-check-inline"> {# no ban - default #}
    <input class="form-check-input form-inline" type="radio" name="ban-option" value="{{val}}" id="{{id}}">
    <label class="form-check-label" for="{{id}}">{{text}}</label>
</div>
{% endmacro %}
<section class="modal fade" id="banModal" tabindex="-2" role="dialog" aria-labelledby="#ban-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ban-title">Ban Options</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="ban-form" method="POST" action="{{url_for('admin.change_ban_status', name=user.username)}}">
              {{ban_form.csrf_token}}
              <div class="form-row">
                Currently:<b>{% if user.is_active() %}Active{% else %}Banned{% endif %}</b>
              </div>
                  <div class="form-row mb-1">
                    <div class="form-check form-check-inline"> {# no ban - default #}
                      {{ban_form.set_active(class="form-check-input form-inline")}}
                      <label class="form-check-label" for="{{ban_form.set_active.id}}">To Change Status</label>
                    </div>
                  </div>
                  <div class="form-row mb-1 mt-1">
                    <div class="input-group">
                      <div class="input-group-prepend h-100">
                          <div class="input-group-text">
                            <i class="fas fa-calendar"></i>
                          </div>
                      </div>
                      {{ban_form.expires(
                          type='text',
                          class='form-control datetimepicker-input mw-100 mh-100',
                          rows=100
                      )}}
                      </div>
                  </div>
                  <div class="form-row mt-1 mb-1">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text far fa-clipboard" for="{{ban_form.id}}"></span>
                      </div>
                      {{ban_form.reason(class="form-control")}}
                    </div>
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit-ban-form">Save changes</button>
        </div>
      </div>
    </div>
  </div> {# https://getbootstrap.com/docs/4.0/components/modal/ #}