<section class="modal fade" id="noteModal" tabindex="-3" role="dialog" aria-labelledby="#note-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="note-title">Note Options</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'notePagination.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit-note-form">Save changes</button>
        </div>
    </div> {# https://getbootstrap.com/docs/4.0/components/modal/ #}
  </div>
</section>