{{edit_title('Profile')}}
<div class="mb-3 row align-content-center">
    <div class="col-3 mr-3"><h5 class="profile-text">Name:</h5></div>
    <div class="col-4"><h5 class="profile-text">{{user.username}}</h5></div>
</div>
<div class="mb-3 row align-content-center">
    <div class="col-3 mr-3"><h5 class="profile-text">Mail:</h5></div>
    <div class="col-4"><h5 class="profile-text">{{user.email}}</h5></div>
</div>
<div class="mb-3 row align-content-center">
    <div class="col-3 mr-3"><h5 class="profile-text">Last Draw:</h5></div>
    <div class="col-4"><h5 class="profile-text">{{user|draw_time}}</h5></div>
</div>
<div class="mb-3 row align-content-center">
    <div class="col-3 mr-1"><h5 class="profile-text">Status:</h5></div>
    <div class="col-1"><h5 class="profile-text"><i class="fa {{user.role.icon}}"></i></h5></div>
    <div class="col-3"><h5 class="profile-text">{{user.role.title}}</h5></div>
</div>