body, html { 
    background-color:#222222 !important; 
}
#title {
    color:rgb(56, 221, 56);
}
/* button colors */
#place-button[state="0"]{
    background-color:greenyellow;
    color:green;
}
#place-button[state="1"]{
    background-color:rgb(228, 31, 31);
    color:yellow;
}
#place-button[state="2"]{
    background-color:#999999;
}
#place-button[state="3"]{
    background-color:rgb(170, 36, 36);
}
/* thread colors - col headers */
th {
    color:whitesmoke !important;
}
.user-row > * {
    background-color:#3270b3 !important;
}
tr:hover td{
    background-color:yellowgreen !important; color:black;
}
#users-table tr {
    cursor:pointer;
}
.fit-column {
    width:1 !important;
    white-space:nowrap !important;
}
#users-table th, tr {
    padding:8px !important;
}
.user-row * {
    font-weight:bold;
}
/** admin */
#users-table tr td .fa-user-shield {
    color:rgb(93, 228, 93);
}
#users-table tr:hover td .fa-user-shield {
    color:rgb(102, 24, 102);
}
/** superuser */

#users-table tr td .fa-user-secret {
    color:lime;
}
#users-table tr:hover td .fa-user-secret {
    color:darkred;
}


/** prevent press event on any table child object */
.user-select-none {
    user-select:none;
}
.user-select-none * {
    user-select:none;
}
/* page list*/

#page-list a.active {
    cursor: auto;
}