.center-x {
    position: absolute;
    left: 50%; /* relative to nearest positioned ancestor or body element */
    transform: translateX(-50%); /* relative to element's height & width */
}

.center-y {
    position: absolute;
    top: 50%; /* relative to nearest positioned ancestor or body element */
    transform: translateY(-50%); /* relative to element's height & width */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.no-select {
    /* don't allow selecting them */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-none > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 
.pixelate {
    /* and actually pixelate them */
    image-rendering: optimizeSpeed; /* Legal fallback */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body, html {
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color:#777777;
}


#board {
    position:fixed;   
    z-index:1;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

#icon-container {
    position: absolute;
    display:flex;
    flex-direction: row;
    width:fit-content;
    height: fit-content;
    bottom:50px;
    left:5px;
}
#icon-container > * {
    margin-left:5px;
}
#icon-container:first-child {
    margin-left:0px;
}

.icon-button {
    position: relative;
    width:50px;
    height:50px;
    padding:0;
    border:2px black solid;
    border-radius: 50%;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    display:table;
    transition:border-color 0.25s;
}
.icon-button {
    cursor:pointer;
}
/* https://stackoverflow.com/a/13836276*/
.icon-button > span {
    display:table-cell;
    vertical-align:middle;
    font-size:30px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}


.icon-button:hover > span {
    font-size:35px   
}

#zoom-button:hover {color:#428bca; border-color:#428bca;}
#logout-button:hover {color:red; border-color:red;}
#home-button:hover {color:greenyellow;border-color: greenyellow;}
/*https://brandcolors.net/b/whatsapp*/
#screen-button:hover {color:#BE4BDB; border-color:#BE4BDB;}   /* grape */
#chat-button:hover {color:rgb(26, 223, 98); border-color:rgb(26, 223, 98);}

#screen-button[state="0"] > span {font-size:25px;}
#screen-button[state="0"]:hover > span {font-size:35px;}
#screen-button[state="1"] > span {font-size:35px;}
#screen-button[state="1"]:hover > span {font-size:25px;}



#toolbox {
    position: absolute;
    background-color:rgba(0, 0, 0, .4);
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0;
    transition: bottom 0.5s;
    z-index: 2;
}

#toolbox[hide="1"] {
    bottom:-40px;
}

#toolbox > * {
    pointer-events: auto;
}

#toggle-toolbox-button {
    position: absolute;
    bottom:40px;
    width: 60px;
    height: 30px;
}

#toolbox[hide="1"] > #toggle-toolbox-button { content: url('/files/slideup.png');}

#toolbox[hide="0"] > #toggle-toolbox-button { content: url('/files/slidedown.png');}

#data-viewer {
    position:absolute;
    box-sizing:content-box;
    width:120px;
    height:auto;
}


#colorTable {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(1, 30px);
    /*https://stackoverflow.com/a/25829529*/
    grid-gap: 0px 0px;
    width:fit-content;
    height:fit-content;
    /* place at center*/
    bottom:0px;
    background-color: rgba(0, 0, 0, .5);
    align-items:center;
    transition:width 2s;
}

#color-table-box:has( #toggle-toolbox-button[state="0"]) {
    bottom:-40px;
}

#toggle-toolbox-button[state="1"] ~ #color-table-box {
    bottom:0px;
}


.colorButton {
    image-rendering: pixelated;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    transition: bottom 0.5s;
    cursor:pointer;
}

.colorButton[picked="1"] {
    border: steelblue 3px solid;
}


#coordinates {
    top:10px;
    position:fixed;
    z-index:3;
    width:120px;
    height:auto;
    border-radius:10px;
    border:15px;
    background-color:rgba(0, 0, 0, .5);
    transition:background-color linear 200ms;
    color:white;
    text-align:center;
    cursor:copy;
}
#lock-colors {
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height:100%;
    text-align:center;
    font-size: 150%;
    vertical-align: middle;
    background-color:#44444480;
    color:#444444;
    display: inline-block;
}
#lock-colors > i {
    margin-top:auto;
    margin-bottom:auto;
}
#lock-colors[lock="0"] {
    display:none;
}
#lock-colors[lock="1"]{
    cursor:not-allowed;
}

#coordinates:hover {
    background-color:rgba(0, 0, 0, .7);
}

.coordinateSpan {
    height: auto;
    width: 40px;
    white-space:pre;
}

#coordinateX {
    text-align: right;
}
#coordinateY {
    text-align: left;
}

#coordinate-slicer {
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    vertical-align: middle;
    margin:0px 3px;
}
.coordinateText {
    font-size: 20px;
    pointer-events:none;
}

#time-prog {
    --aura-color: #01fe32;
    --area-color: #08ff35;
    --text-color: #008080;
    position: absolute;
    bottom: 55px;
    right: 5px;
    height: 20px;
    font: bold 14px/20px Arial;
    text-align: center;
    background-color: #fff;
    border: 10px solid #282828;
    overflow: hidden;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 0 5px var(--aura-color) inset, 0 0 16px var(--area-color), 0 0 20px var(--area-color), 0 0 15px var(--area-color);
    display: inline-block;
    max-width: 120px;
    width: 40%;
    height: 20px;
    align-items: center;
    /*  -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
*/
}

#time-prog[state="2"] {
    --aura-color: #fe0132;
    --area-color: #ff0835;
    --text-color: #800080;
}
#time-prog[state="1"] {
    --aura-color: #FFFF30;
    --area-color: #FFFF30;
    --text-color: #080808;/*#F0F030;*/
}
#time-prog:not(*[state="0"]){
    cursor:wait;
}


#prog-text {
    color: var(--text-color);
    border-radius: inherit;
    z-index: 3;
    position: absolute;
    background-color: transparent;
}

#prog-fill {
    background-color:var(--area-color);
    border-radius:inherit;
    width:100%;
    height:inherit;
}

.pop-up-message {
    text-align: center;
    background-color: black;
    color: white;
    width: auto;
    height: auto;
    border: solid black;
    border-width: 10px 20px;
    border-radius: 5px;
    z-index: 4;
    pointer-events: none;
    opacity:0%;
    font: "Trebuchet MS", Helvetica, sans-serif;
}
#pen {
    position:absolute;
    z-index:2;
    padding:none;
    left:0;
    top:0;
    pointer-events:none;
}