{#
    key: the name of the profile attr
    val: value of the key of the user
#}
{% macro profile_attr_row(key, val) %}
<div class="mb-2 row align-content-center">
    <div class="col-3 mr-2"><h5 class="profile-text">{{ key | title }}:</h5></div>
    <div class="col-4"><h5 class="profile-text">{{ val }}</h5></div>
</div>
{% endmacro %}
{{ edit_title('Preferences') }}
{{ profile_attr_row('name', user.username) }}
{{ profile_attr_row('mail', user.email) }}
{{ profile_attr_row('created at', user.creation_date | date) }}
{{ profile_attr_row('last draw', user | draw_time) }}
{{ profile_attr_row('status', user.role.title) }}