{% macro preference_row(key, val) %}
<div class="mb-2 row align-content-center" id="{{ key | lower }}-field">
    <div class="col-3 mr-3"><h5 class="profile-text">{{ key | title }}:</h5></div>
    <div class="col-4"><h5 class="profile-text">{{ val }}</h5></div>
</div>
{% endmacro %}
{{ edit_title('Preferences') }}
{{ preference_row('X', user.x) }}
{{ preference_row('Y', user.y) }}
{{ preference_row('Scale', user.scale) }}
{{ preference_row('Color', user.color) }}
{{ preference_row('Chat', user.url) }}