*.pyc
.vscode/
.idea/
painter/rsa/script.py
painter/rsa/rsa2.py
painter/rsa/__init__.p
firebase/*
painter/web/keys/‏‏‫מסמך טקסט ‫חדש.txt
painter/web/node_modules/*
painter/web/package-lock.json
painter/web/package.json
venv/
count.py
*.docx
config.ini
*.tmp
מסמך/מסמך אפיון.docx
*.docx
/painter/web/docs/
itamar.zip
nginx.conf
