*.pyc
.idea/
.vscode/
venv/
s.py
s.py
painter/rsa/script.py
painter/rsa/rsa2.py
painter/rsa/__init__.py
painter/rsa/script.py
painter/rsa/rsa2.py
painter/rsa/__init__.py
painter/rsa/script.py
painter/rsa/rsa2.py
painter/rsa/__init__.py
firebase/*
web/keys/‏‏‫מסמך טקסט ‫חדש.txt
painter/config.py
