{% macro edit_title(text) %}
<div class="justify-content-center center-text row mb-2">
    <h4 class="font-weight-bold"><u>{{text}}</u></h4>            
</div>
{% endmacro %}
{% macro pre_input_text(text, for_input, id=None, classes="") %}
<div class="input-group-prepend">
    <span id="{{id}}" class="input-group-text{% if classes %} {{classes}}{% endif %}" for="{{for_input}}">{{text}}</span>
</div>
{% endmacro %}
{% macro calender_input(id) %}
<div class="input-group date" id="{{id}}" data-target-input="nearest">
<input type="text" class="form-control" data-target="{{id}}"/>
<div class="input-group-append" data-target="{{id}}" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
</div>
{% endmacro %}