{% macro edit_title(text) %}
<div class="justify-content-center center-text row mb-2">
    <h4 class="font-weight-bold"><u>{{text}}</u></h4>            
</div>
{% endmacro %}
{% macro pre_input_text(text, for_input, id=None, classes="") %}
<div class="input-group-prepend">
    <span id="{{id}}" class="custom-input-text{{classes|class_ftr}}" for="{{for_input}}">{{text}}</span>
</div>
{% endmacro %}
{% macro button_model(span, modal, fa, title='none', placement="top", classes=None) %}
{# http://jsfiddle.net/sso79Ldj/1/ #}
<span data-toggle="modal" data-target="#{{modal}}" id={{span}}>
    <button type="button" class="btn {{classes|class_ftr}}" data-placement="{{placement}}" title="{{title}}" data-toggle="tooltip">
        <i class="fas fa-{{fa}}"></i>
    </button>
</span>
{% endmacro %}