{% from 'accounts/_macros.html' import button_model %}
{% extends 'accounts/profile.html' %}
{%- set current_page = 'admin' %}
{%- set action_url = url_for('admin.profile_ajax') %}
{% block css %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />{# datetime style #}
{% endblock %}
{% block user_preferences %}
{% if current_user.has_required_status(current_user.role.superuser) %}
{% include 'accounts/abstract/profile-preferences-edit.html' %}
{% else %}
{% include 'accounts/abstract/profile-preferences-view.html' %}
{% endif %}
{% endblock %}
{% block container %}
{{super()}}
<div class="row justify-content-center">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            {{button_model('ban', 'banModal', 'ban', 'Ban', classes="btn-secondary")}}
        </div>
      </div>
</div>
{% endblock %}
{% block modals %}
{{super()}}
{% include 'accounts/abstract/banModal.html' %}
{% endblock %}
{% block javascript %}
{{super()}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>{# datetime input #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>{# datetime picker #}
{% endblock %}