{% from 'accounts/_macros.html' import user_privilage, edit_title, pre_input_text %}
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!-- Boostrap Style -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
        integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css"
        integrity="sha256-wMES50JHO82E/LjWWLWeCXXQahHeA0oemqGIfMkD5BI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css"
        integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" rel="stylesheet"/>
    <link href="{{url_for('other.serve_menu_css')}}" rel="stylesheet">
    <link href="{{url_for('other.serve_static', key='profile.css')}}" rel="stylesheet">
</head>
<body>
{% with current_page = 'profile' %}
{% include 'menu/nav.html' %}
{% endwith %}
<div class="container">
    <div class="row justify-content-center center-text mb-3">
        <h3 class="text-warning display-3 font-weight-bold" id="user-title"><u>{{current_user.username}}</u></h3>
    </div>
    <div class="row">
        <div class="col user-data-col">{% with user=current_user %}{% include 'accounts/abstract/profile-div.html' %}{% endwith %}</div>
        <div class="col user-data-col">{% with user=current_user %}{% include 'accounts/abstract/profile-form.html' %}{% endwith %}</div>
    </div>
</div>
</body>
</html>
