{% extends "security/forms.html" %}
{% block fields %}
{{ render_field(form.username)}}
{{ render_errors(form.username.errors) }}
{{ render_field(form.password)}}
{{ render_errors(form.password.errors) }}
<div class="form-row justify-content-center non-select">
    <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="{{form.remember.id}}">
        <label class="custom-control-label text-warning" for="{{form.remember.id}}">Remember me</label>
      </div>
</div>
{% if extra_error %}
{{ render_error(extra_error) }}
{% endif %}
{% endblock %}
{% block links %}
{{ render_link('signup-link', 'Are you new?', url_for_security('register')) }}
{% endblock %}
{% block submit %}Login{% endblock %}
