{% if not title %}{% set title='Title' %}{% endif %}{% if not page_title %}{% set page_title=title %}{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- bootstrap styles-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="{{url_for('other.serve_static', key='transport.css')}}" rel="stylesheet">
    <title>{{title|capitalize}}</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h2 class="text-primary text-center col"><u>{{page_title|capitalize}}</u></h2>
    </div>
    <div class="row justify-content-center">
        <img alt="favicon wasn't load" class="autorounded float-right d-inline-block non-select"
             draggable="0" src="{{url_for('other.serve_static', key='favicon.gif')}}">
    </div>
    <div class="w-50 form-row mx-auto">
        <h5 class="text-warning">{% block message %}{% if message %}{{message}}{% endif %}{% endblock %}</h5>
    </div>
    {% if view_name and view_ref %}
    <div class="row justify-content-center">
        <div class="btn btn-default border-warning d-inline-block text-center">
            <a class="text-primary font-weight-bold" href="{{url_for(view_ref)}}" id="view-url">{{view_name}}</a>
        </div>
    </div>
</div>
{% endif %}
</div>
<!-- Jquery.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<!-- popper.js - needed for bootstarp -->
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!-- bootstarp -->
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>