    <body>
    <form action='\change-password' method="POST" accept-charset="utf-8"
        class='center'>
        <label style="grid-area:title-grid;" class='title-style0'>Forgot Password</label>
        <!--password-->
        <label class='text-style1' style="grid-area:pswd-lbl;" class="nonselect">Password:</label>
        <input type='password' name='pswd' class='text-input-style0 input-box' style="grid-area:pswd-box">
        <!--re-enter password-->
        <label class='text-style1' style="grid-area:repswd-lbl;" class="nonselect">RePassword:</label>
        <input type='password' name = 'repswd' class='text-input-style0 input-box' style="grid-area:repswd-box">
        <!--show password-->
        <div style="grid-area:show-box;margin-top:5px;margin-bottom:10px;" class="nonselect">
            <input type="checkbox" id="show-pswd-box"
            value="show password">
            <label id="show-pswd-lbl"
                style="margin-left:10px;margin-right:10px;font-size:125%;" class="nonselect">show password</label>
        </div>
        <label style="grid-area:message-grid;margin-top:5px;margin-bottom:5px;" id="message" class="nonselect"></label>
        <input type='submit' value='change password' id='revoke' class='button-style0 set_message'
        style="text-align:center;padding:10px;grid-area:submit-grid;">
    </form>
    <script>
    $('#show-pswd-box').click(function(){
        if(this.checked) {                    
            $('#show-pswd-lbl').text('hide password');
            $('input[type="password"]').attr('type', 'text');
        } else {
            $('#show-pswd-lbl').text('show password');
            $('input[type="text"]').attr('type', 'password');
        }
    });
    $('form').submit(function(e){
        e.preventDefault();
        let form = $(this);
        $.ajax({
            url:form.attr('action'),
            method:form.attr('method'),
            data:form.serialize(),
            success(data, status){
                try{
                    if(data.code == 1){
                        $('#message').addClass('sucsess-lbl').removeClass('error-lbl').text(data.data);
                    } else {
                        $('#message').addClass('error-lbl').removeClass('sucsess-lbl').text(data.data);
                    }
                }
                catch
                {
                    label.addClass('error-text').removeClass('sucsess-text').text('Client Error')
                }
            }
        });
    });
    </script>
    </body>
</html>