<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{url_for('other.serve_icon')}}" rel="shortcut icon">
    <!-- Jquery.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!-- Boostrap Style -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css"
          integrity="sha256-wMES50JHO82E/LjWWLWeCXXQahHeA0oemqGIfMkD5BI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css"
          integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <link href="{{url_for('other.serve_static', key='admin.css')}}" rel="stylesheet">
    <link href="{{url_for('other.serve_static', key='nav.css')}}" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
    <!--io-->
    <title>Admin Privilage</title>
    <script crossorigin="anonymous"
            integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
{% with current_page = 'admin' %}
{% include "menu/nav.html" %}
{% endwith %}
<div class="container">
    <div class="row justify-content-center center-text">
        <h2 class="display-4 no-select" id="title"><u>Admin Privilage<i class="fas fa-shield-alt"></i></u></h2>
    </div>
    <div class="row justify-content-center">
        <button class="btn round-rect" id='place-button' state="0">
            <h6></h6>
        </button>
    </div>
    <div class="row justify-context-center mt-3">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th class="text-center fit-column" scope="col">Privilage</th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Mail Address</th>
                <th class="text-center" scope="col">Last Draw</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
            <tr {% if user==current_user %}class="user-row"{% endif %}>
                <td class="text-center prvg-col" data-placement="left" data-toggle="tooltip"
                    title="{{user.role.title}}">
                    <i class="fa {{user.role.icon}}"></i>
                </td>
                <td class="text-center name-col">{{user.username}}</td>
                <td class="text-center mail-col">{{user.email}}</td>
                <td class="text-center time-col">{{user|draw_time}}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <!-- Page List -->
    <div class="row justify-content-center">
        <div class="list-group list-group-horizontal" id="page-list">
            <a {% if not pagination.has_prev %}class='list-group-item list-group-item-action{% else %} disabled{% endif %}'{% if pagination.has_prev %}href='{{url_for("admin.admin", page=pagination.prev_num)}}'{% endif %}>Prev</a>
            <!-- if has next or prev, means any pages -->
            {% if pagination.has_prev or pagination.has_next %}
            {% for page in pagination.iter_pages() %}
            {% if page %}
            <a class="list-group-item list-group-action{% if page == pagination.page %} active{% endif %}"
               href="{{url_for('admin.admin', page=page)}}">{{page}}</a>
            {% else %}
            <a class="list-group-item disabled">...</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            <a {% if not pagination.has_next %}class='list-group-item list-group-item-action{% else %} disabled{% endif %}'{% if pagination.has_next %}href='{{url_for("admin.admin", page=pagination.prev_num)}}'{% endif %}>Prev</a>
        </div>
    </div>
    <!-- CSRF Protection -->
    <script type="text/javascript">
        let csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha256-NLINqBk3iRBQfTFKCFqlWEXfKlk7GfR45ZuSp6nJ/yw=" src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.1/dist/sweetalert2.all.min.js"></script>
    <!-- Document said to put it here so it be faster -->
    <!-- popper.js - needed for bootstarp -->
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- bootstarp -->
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('other.serve_static', key='admin.js')}}" type="text/javascript"></script>
</body>
</html>
