{% from 'accounts/_macros.html' import button_model %}
{% extends 'accounts/profile.html' %}
{%- set current_page = 'admin' %}
{%- set action = url_for('admin.profile_ajax', name=user.username) %}
{% block css %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/regular.min.js" integrity="sha256-DgfbtH6ya+miGHqPZNQCTK3JPq0KdQg45kOZzmotUoM=" crossorigin="anonymous"></script>
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
{% endblock %}
{% block user_preferences %}
{% if current_user.has_required_status(Role.superuser) %}
{% include 'accounts/abstract/profile-preferences-edit.html' %}
{% else %}
{% include 'accounts/abstract/profile-preferences-view.html' %}
{% endif %}
{% endblock %}
{% block container %}
{{super()}}
<div class="row justify-content-center">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            {{button_model('Add Record', 'banModal', 'fas fa-ban', 'Ban', classes="btn-secondary")}}
            {{button_model('Add Note', 'noteModal', 'far fa-sticky-note', 'Note', classes="btn-secondary")}}
            {{button_model('History', 'historyModal', 'fas fa-history', 'HistoryModal', classes="btn-secondary")}}
            {% if current_user.has_required_status(Role.superuser) %}
            {% if user.role == Role.common %}
            <span>
                <button type="button" class="btn btn-secondary" id="rank-button" title="change rank" enum-name="{{Role.admin.name|title}}">
                    <i class="fas {{Role.admin.icon}}"></i>
                </button>
            </span>
            {% else %}
            <span>
                <button type="button" class="btn btn-secondary" id="rank-button" title="change rank" enum-name="{{Role.common.name|title}}">
                    <i class="fas {{Role.common.icon}}"></i>
                </button>
            </span>
            {% endif %}
            {% endif %}
        </div>
      </div>
</div>
{% endblock %}
{% block modals %}
{{super()}}
{% include 'accounts/abstract/banModal.html' %}
{% include 'accounts/abstract/noteModal.html' %}
{% include 'accounts/abstract/historyModal.html' %}
{% endblock %}
{% block javascriptCDN %}
{{super()}}
<script type="text/javascript">
    let csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.1/dist/sweetalert2.all.min.js" integrity="sha256-NLINqBk3iRBQfTFKCFqlWEXfKlk7GfR45ZuSp6nJ/yw=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>{# datetime input #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}
{% block javascript %}
<script src="{{url_for('other.serve_static', key='edit.js')}}"></script>
{% endblock %}