{% macro render_link(id, icon) %}
<div class="icon-button" id="{{id}}">
    <span class="fas fa-{{icon}}"></span>
</div>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Social Painter</title>
    <meta content="width=device-width, height=device-height initial-scale=0.86, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="{{url_for('other.serve_static', key='place.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('other.serve_icon')}}" rel="shortcut icon">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css"
          integrity="sha256-wMES50JHO82E/LjWWLWeCXXQahHeA0oemqGIfMkD5BI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css"
          integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-OgiHfllOBEOiWQ2OcBsDncRG2k7QBW9Rs1dB7MH2N2s=" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="{{url_for('other.serve_static', key='place.js')}}"></script>
</head>
<body x={{x}} y={{y}} scale={{scale}}>
<canvas class='pixelate' height='1000' id="board" width='1000'>Wait, Loading...</canvas>
<div class="select-none" hide='0' id="toolbox">
    <div class='center-x' id='toggle-toolbox-button' state='1'></div>
    {# state == 1 so it be open at start #}
    <div id="color-table-box">
        <div class='center' id=colorTable>
            {% for i in range(16) %}
            <div class='colorButton' value='{{i}}' picked="{{(color==i)|int}}"></div>
            {% endfor %}
        </div>
    </div>
    <div id="icon-container">
        {{render_link('zoom-button', 'search-plus')}}
        <div class="icon-button" id="screen-button" state="0">
            <span class="fas fa-expand"></span>
        </div>
        {{render_link('home-button', 'home')}}
        {{render_link('logout-button', 'sign-out-alt')}}
        {% if url %}
        <div class="icon-button" id="chat-button" href={{url}}>
            <span class="fas fa-comment-dots"></span>
        </div>
        {% endif %}
    </div>
    <div class="no-select" id="time-prog" state="1">
        <div id="prog-fill"></div>
        <div class="center" id="prog-text">0:00</div>
    </div>
</div>
<div class="center-x select-none" id="coordinates">
    <span class="coordinateSpan" id="coordinateX">none</span>
    <span class="coordinateText" id="coordinate-slicer">,</span>
    <span class="coordinateSpan" id="coordinateY">none</span>
    <span class=></span>
</div>
</body>
</html>