{% extends 'bootstrap/base.html' %}
{% from 'macros.jinja' import message_alert, render_field, render_errors, render_link %}
{% block styles %}
    {{"bootstrap.css"|import_web}}
    {{"font-awesome.css"|import_web}}
    {{"font-awesome-solid.css"|import_web}}
    {{"font-awesome-brands.css"|import_web}}
    {{"auth.css"|import_static}}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        {% block form %}
        <form class="w-75 x-auto y-auto" id="submit-form" method="POST" url="{{ request.url }}">
            {{ form.hidden_tag() }}{% block before_title %}{% endblock %}
            <div class="form-row mb-1s display-2 text-center">
                <!-- warning was used as nice title -->
                <h2 class="mx-auto text-warning non-select"><u>{{form.title}}</u></h2>
            </div>
            {{message_alert()}}
            <img class="rounded mx-auto d-block mb-2"
                 height="250" src="{{url_for('other.serve_static', key='favicon.gif')}}"
                 width="190">
            {% block fields %}
            {% endblock %}
            <input name="next" type="hidden" value="{{ request.args.get('next', '') }}"/>
            <div class="row justify-content-around mx-auto mt-1">
                {% block links %}{% endblock %}
            </div>
            <div class="form-row justify-content-center mt-2">
                <button class="btn btn-primary" id="submit-button" type="submit">{% block submit %}{% endblock %}
                </button>
            </div>
        </form>
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{"jquery.js"|import_web}}
    {{"popper.js"|import_web}}
    {{"bootstrap.js"|import_web}}
    {{"auth.js"|import_static}}
{% endblock %}