{% from 'profiles/_macros.html' import button_model %}
{% extends 'profiles/profile.html' %}
{%- set current_page = 'admin' %}
{% block css %}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
<script crossorigin="anonymous" integrity="sha256-DgfbtH6ya+miGHqPZNQCTK3JPq0KdQg45kOZzmotUoM=" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/regular.min.js"></script>
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
<script crossorigin="anonymous" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<style>
    textarea{resize:none;}
    #history-table .tr td, #history .tr td > * {
        user-select:none;
    }
</style>
{% endblock %}
{% block user_preferences %}
    {% if current_user.has_required_status(Role.superuser) %}
        {% include 'profiles/abstract/profile-preferences-view.html' %}
    {% else %}
        {% include 'profiles/abstract/profile-preferences-view.html' %}
    {% endif %}
{% endblock %}
{% block container %}
{{ super() }}
    <div class="row justify-content-center">
        <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                {{ button_model('Add Record', 'recordModal', 'fas fa-ban', 'Ban', classes="btn-secondary") }}
                {{ button_model('Add Note', 'noteModal', 'far fa-sticky-note', 'Note', classes="btn-secondary") }}
                {{ button_model('History', 'historyModal', 'fas fa-history', 'History', classes="btn-secondary") }}
                {% if current_user.has_required_status(Role.superuser) %}
                    {% if user.role == Role.common %}
                        <span>
                            <button class="btn btn-secondary" enum-name="{{ Role.admin.name|title }}" id="rank-button" title="change rank"
                                    type="button">
                                <i class="fas {{ Role.admin.icon }}"></i>
                            </button>
                        </span>
                        {% else %}
                        <span>
                            <button class="btn btn-secondary" enum-name="{{ Role.common.name|title }}" id="rank-button" title="change rank"
                                    type="button">
                                <i class="fas {{ Role.common.icon }}"></i>
                            </button>
                        </span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
    {% block modals %}
        {% include 'profiles/abstract/recordModal.html' %}
        {% include 'profiles/abstract/noteModal.html' %}
        {% include 'profiles/abstract/historyModal.html' %}
    {% endblock %}
{% block javascript %}
    <script src="{{ url_for('other.serve_static', filename='edit.js') }}"></script>
{% endblock %}