<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{{error_code}}</title>
</head>
<body>
    <div class="container">
    <div class="justify-content-center">
        <img src="{{ url_for('meme_views.meme_image', http_error=error) }}" class="rounded mx-auto d-block">
        <p><ins>{{error}}</ins></p>-->
        <p><ins>{{reason}}</ins></p>
    </div></div>
    {% include 'cdn/bootstrap.html' %}
</body>
</html>