body,html, .container {
     background-color: #222222 !important; 
}
.input-group-prepend { width:25%}
.input-group-text { width:100%;padding:none;}
.body-container {
    background-color:yellowgreen !important;
}
.non-select {
    user-select: none !important;
    -webkit-user-select: none !important;
}
.field-input {
    background-color: #222222 !important;
}
input[type="password"],input[type="text"],input[type="email"] {
    box-shadow: none !important; -webkit-box-shadow: none !important;
    background-color: #2A2A2A !important;
    color: #ffc107!important;
}
#submit-button:hover{
    background-color:rgb(73, 175, 26) !important;
    border-color:rgb(52, 128, 17) !important;
}