{% from 'admin/_macros.html' import user_privilage %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{url_for('other.serve_icon')}}">
        <!-- Jquery.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="{{url_for('other.serve_static', key='admin.js')}}" type="text/javascript"></script>
        <!-- Boostrap Style -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css" integrity="sha256-wMES50JHO82E/LjWWLWeCXXQahHeA0oemqGIfMkD5BI=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css" integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{url_for('other.serve_static', key='admin.css')}}">
        <style>{% include 'menu/nav.css' %}</style>
    </head>
    <body>
        {% with current_page = 'admin' %}
        {% include "menu/nav.html" %}
        {% endwith %}
        <div class="container">
        <div class="row justify-content-center center-text"><h2 id="title" class="display-4 no-select"><u>Admin Privilage<i class="fas fa-shield-alt"></i></u></h2></div>
        <div class="row justify-content-center">
            <button id='server-button' state="1" class="btn round-rect">
                <h6>Turn Off Painter</h6>
            </button>
        </div>
        <div class="row justify-context-center mt-3">
            <table class="table table-bordered table-dark">
                <thead><tr>
                    <th scope="col" class="text-center fit-column">Privilage</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Mail Address</th>
                    <th scope="col" class="text-center">Last Draw</th>
                </tr></thead>
            <tbody>
            {% for user in pagination.items %}
                <tr{% if current_user == user %} class="user-row"{% endif %}>
                    <td class="text-center privilage-col">{{ user_privilage(user) }}</td>
                    <td class="text-center name-col">{{user.username}}</td>
                    <td class="text-center mail-col">{{user.email}}</td>
                    <td class="text-center time-col">{{user|draw_time}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        </div>
        <!-- Page List -->
        <div class="row justify-content-cnter">
            <div class="list-group list-group-horizontal" id="page-list">
            <a class="list-group-item list-group-action" href="{{url_for('admin.admin', page=pagination.prev_num|string)}}">Prev</a>
            {% if pagination.has_prev or pagination.has_next %}
            {% for page in pagination.iter_pages() %}
            <a class="list-group-item list-group-action" href="{{url_for('admin.admin', page=page|string)}}">{{page}}</a>
            {% endfor %}
            {% endif %}
            <a class = "list-group-item list-group-action" href="{{url_for('admin.admin', page=pagination.prev_num|string)}}">Next</a>
        </div>
    </div>
    <!-- Document said to put it here so it be faster -->
    <!-- popper.js - needed for bootstarp -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- bootstarp -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
