.navbar {background-color:#444444 !important}
.navbar-brand{color:yellow !important;}
.nav-item > .fas {transition: background-color .5s; -webkit-transition:background-color .5s;}
.fa-paint-brush:hover {background-color:yellow;}
.fa-door-open:hover {background-color:rgb(241, 3, 3);}
.fa-home .active-focus{background-color:yellowgreen;}
.nav-link.active, .nav-pills .show>.nav-link .fa-home{background-color:yellowgreen !important;}
.fa-home:hover {background-color:yellowgreen;}{% if current_user.is_admin %}
.fa-tools .active, .fa-tools:hover {background-color:cornflowerblue;}
.nav-link.active, .nav-pills .show>.nav-link .fa-tool{background-color: cornflowerblue;}
{% endif %}