{% macro nav_item(fa, title, url, page=None) %}
<li class="nav-item">{% with set_navigator = page and page==current_page %}
    <a class="nav-link fas {{fa}} btn {% if set_navigator %}set{% endif %}" data-placement="bottom"
       data-toggle="tooltip" href="{{url_for(url)}}" title="{{title|striptags|title}}">{% if set_navigator
        %}<span><span class="sr-only">(current)</span>{% endif %}</a>
</li>{% endwith %}{% endmacro %}
<nav class="navbar navbar-light justify-content-between">
    <span class="navbar-brand">Social Painter</span>
    <ul class="nav nav-pills nav-fill">
        {{nav_item('fa-paint-brush', 'paint', 'place.place')}}
        {{nav_item('fa-home', 'home', 'place.home', 'home')}}
        {{nav_item('fa-cog', 'profile', 'place.profile', 'profile')}}{% if current_user|is_admin %}
        <style>.fa-tools.set, .fa-tools:hover {background-color:#a933ff !important;}</style>
        {{nav_item('fa-tools', 'admin tools', 'admin.admin', 'admin')}}{% endif %}
        {{nav_item('fa-door-open', 'exit', 'auth.logout')}}
    </ul>
</nav>