{% macro field_render(field, force_errors=False) %}
<div class="form-row mb-1">
    <div class="input-group">
        {% if field.errors or force_errors%}
        {% set extra_class = "danger" %}
        {% else %}
        {% set extra_class = "primary" %}
        {% endif %}    
        <div class="input-group-prepend">
            <span id='{{field.label.id}}' class='input-group-text non-select border-{{extra_class}}' for={{field.id}}>{{field.label.text}}</span>
        </div>
    {{field(class_ = 'form-control border-'+ extra_class)}}
    {% if field.widget.input_type == 'password' %}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary border-{{extra_class}} password-button">
            <i class="fa fa-eye"></i>
        </button>
    </div>
    {% endif %}
</div></div>
{% endmacro %}

{% macro field_errors(field, form) %}
{% if field.errors or varargs %}
{% for err in field.errors %}
<div class="form-row mb-1">
    <div class="col rounded alert-danger text-justify ml-5 mr-5" style="text-anchor:middle;">{{ err }}</div>
</div>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro link(id, text, path) %}
<a class="primary-text mb-3" id={{id}} href="{{path}}">{{text}}</a>
{% endmacro %}
<html>
<head>
{% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Jquery.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <!-- popper.js - needed for bootstarp -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- bootstarp -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- bootstrap styles-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <script src="\files\auth.js"></script>
        <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
            padding:0;
            margin:auto;
            display: flex;
            align-items: center;
        }
        .input-group-prepend { width:25%}
        .input-group-text { width:100%;padding:none;height:100%;}
        .body-container {
            background-color:yellowgreen !important;
        }
        .non-select {
            user-select: none;
        }
        </style>
{% endblock %}
</head>
<body>
    {% block Body %}
    <div class="jumbotron vertical-center">
            <form class="container justify-content-center w-75" method="POST" url="{{ request.url }}">
            {{ form.csrf_token  }}
            {% block fields %}
            {% endblock %}
            <div class="justify-content-space-between form-row row">
                {% block links %}{% endblock %}
            </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary" id="submit-button">{% block submit %}{% endblock %}</button>
                </div>
                {% if form.non_field_errors %}
                <div class="d-flex flex-column justify-content-center mt-2">
                {% for err in form.non_field_errors %}
                        <div class="p-2 alert alert-danger text-center mb-1">{{err}}</div>
                {% endfor %}
                </div>
                {% endif %}
                </form>
    </div>
    {% endblock %}
</body>
</html>