{% from 'forms/_macros.html' import render_field, render_errors, render_link %}
<html>
<head>
    {% block head %}
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <link href="{{url_for('other.serve_icon')}}" rel="shortcut icon">
    <!-- Jquery.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!-- Boostrap Style -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          integrity="sha256-/sdxenK1NDowSNuphgwjv8wSosSNZB0t5koXqd7XqOI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css"
          integrity="sha256-wMES50JHO82E/LjWWLWeCXXQahHeA0oemqGIfMkD5BI=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css"
          integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" rel="stylesheet"/>
    <link href="{{url_for('other.serve_static', key='auth.css')}}" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-O4179En8zabOlPYBNvGp8cF0uh0vnSZpW4Q6Ul1h+8c=" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <title>{{ form.title }} </title>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
    <section class="row justify-content-center align-items-center">
    {% block form %}
    <form class="w-75 x-auto y-auto" method="POST" url="{{ request.url }}">
        {{ form.hidden_tag() }}{% block before_title %}{% endblock %}
        <div class="form-row mb-1s display-2 text-center">
            <!-- warning was used as nice title -->
            <h2 class="mx-auto text-warning non-select"><u>{{form.title}}</u></h2>
        </div>
        {% block before_image %}{% endblock %}
        <img class="rounded mx-auto d-block mb-2"
             height="250" src="{{url_for('other.serve_static', key='favicon.gif')}}"
             width="190">
        {% block fields %}
        {% endblock %}
        <input name="next" type="hidden" value="{{ request.args.get('next', '') }}"/>
        <div class="row justify-content-around mx-auto mt-1">
            {% block links %}{% endblock %}
        </div>
        <div class="form-row justify-content-center mt-2">
            <button class="btn btn-primary" id="submit-button" type="submit">{% block submit %}{% endblock %}</button>
        </div>
    </form>
    {% endblock %}
</section>
</div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js" integrity="sha256-WgvkBqG9+UolqdFC1BJOPcy961WTzXj7C9I034ndc4k=" crossorigin="anonymous"></script>
{% block imports %}
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('#submit-button').click(function(e) {
        this.innerHTML='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...';
        // also change passwords back to normal
        $('.password-button').parent().siblings('input').attr('type', 'password');
        // submit form
        $('form').submit()
    });
    $('.password-button').click(function(e){
        e.preventDefault();
        if($(this).children('i').hasClass('fa-eye-slash')){   // if is hidden, remove slashed eye
            $(this).parent().siblings('input').attr('type', 'password');
            $(this).children('i').removeClass('fa-eye-slash').addClass('fa-eye')
        } else {
          $(this).parent().siblings('input').attr('type', 'text');
          $(this).children('i').removeClass('fa-eye').addClass('fa-eye-slash');
        }
    });
    $('.form-control').keypress((e) => {
      if(e.charCode == 13 && !e.shiftkey){  // enter key
        e.preventDefault();
        let form_controls = $('.form-control');
        let idx = _.indexOf(form_controls, event.currentTarget)+1;
        if(idx == form_controls.length){
            $('#submit-button').focus();
        } else {
          $(form_controls[idx]).focus();
        }
      }
    });
    $('.form-control').first().focus();
  });
{% endblock %}
<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBQI2lGKvg09O0qrJ0ZQYatZoFUGNNlKzE",
    authDomain: "my-place-43d4e.firebaseapp.com",
    databaseURL: "https://my-place-43d4e.firebaseio.com",
    projectId: "my-place-43d4e",
    storageBucket: "my-place-43d4e.appspot.com",
    messagingSenderId: "932095189321",
    appId: "1:932095189321:web:335dd29dca593ee04eba98",
    measurementId: "G-TS0GW31XWY"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
#}
<!-- popper.js - needed for bootstarp -->
<script crossorigin="anonymous"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!-- bootstarp -->
<script crossorigin="anonymous"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>