{% extends "forms/forms.html" %}
{% block fields %}
{{ render_field(form.username, entire_form_errors)}}
{{ render_errors(form.username.errors) }}
{{ render_errors(entire_form_errors) }}
{{ render_field(form.password, entire_form_errors)}}
{{ render_errors(form.password.errors) }}
{{ render_errors(entire_form_errors) }}
{% if extra_error %}
{{ render_error(extra_error) }}
{% endif %}
{% endblock %}
{% block links %}
{{ link('signup-link', 'Are you new?', url_for('auth.signup')) }}
{% endblock %}
{% block submit %}Login{% endblock %}